* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    font-size: 62.5%; /* implementamos la medida REM, el 62.5% hace que 1rem sea equivalente a 10px en todo el documento HTML*/
}

:root {
    --fonnt-items: 10px 1px 6px 7px rgba(250, 2, 2, 0.16); /*Variable de color*/
}

.header {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: yellow;
}

main {
    width: 100%;
    height: auto;
}


header img {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 2px 2px;
}

.section-container--cards1 {
   position: relative;
   display: flex;
   
   padding: 5px 15px 15px 8px;
}


.aticle-container--card {
    width: auto;
    height: auto;
    margin: 2px 2px;
    padding: 10px;
    background-color: rgb(216, 216, 216);
    border-radius: 8px;
    box-shadow: var(--fonnt-items);
}

.aticle-container--card .git {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: auto;
    background-image: url(../GitHub/img/LogoGit.png);
    box-shadow: 0 2px 10px rgb(253, 253, 253);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2px 1px;
}

.aticle-container--card .github {
    display: flex;
    width: 40px;
    height: 20px;
    margin-bottom: auto;
    background-image: url(../GitHub/img/github.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 2px 10px rgb(247, 198, 198);
    margin: 1px 1px;
}

.section-container--title {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-parrafo--card {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1..8rem;
}

.section-container-cards2 {
    position: relative;
    display: flex;
    top: 10px;
    
}

.container-tables {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px 10px;
    height: auto;
    width: 100%;
}


.table1 {
    position: relative;
    display: flex;
    height: 100%;
    width: 60%;
    min-width: 320px;
    max-width: auto;
    padding: 5px;
    font-size: 1.4rem;
}  

th {
    width: auto;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(218, 218, 230);
}

.td-icon {
    width: 100px;
    height: 55px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgb(248, 247, 246);
}

.td-icon p {
    background-color: rgb(175, 174, 174);
    border-radius: 5px;
    width: 130px;
    height: 30px;
    padding: 5px;
}

.td-definicion {
    background-color: rgb(242, 242, 243);
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 25px;
    border-radius: 5px;
    padding: 3px 15px;
    text-align: justify;
}

.section-imag {
    position: absolute;
    padding: 0 0 0 550px;
}

.container-title-definicion {
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(224, 83, 40);
}

.img-img {
    display: flex;
    
    
}.div-container--table2 {
    position: relative;
    display: flex;
    height: 100%;
    width: 50%;
    min-width: 320px;
    max-width: auto;
    padding: 5px;
    font-size: 1.4rem;
    
}

.container-table2 th {
    width: auto;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(12, 180, 144, 0.466);
}

footer {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background-color: rgb(247, 246, 216);
    padding: 15px 20px;
    border-radius: 30px;
  }

  img {
     display: flex;
     width: 90px;
  }

